.navbar {
    background-color: #9c5518;
    padding-top: 20px;
    padding-bottom: 20px;
}

#titulo {
    color: white;
    font-family: cursive;
}

#opciones {
    color: white;
    font-family: cursive;
}

button {
    font-family: cursive;
}