<app-nav-bar-user></app-nav-bar-user>
<br>
<div class="row animated fadeIn fast">
    <div class="col">
        <ul>
            <li id="col">
                <div class="img">
                    <img src="assets/img/hotel.svg">
                </div>
            </li>
            <li id="col">
                <div class="container">
                    <h1>GNEIS APP WEB</h1>
                    <p>Modulo del Cliente En el Aplicativo Web</p>
                </div>
            </li>
        </ul>
        <h3>Realizar Reserva</h3>
        <p>Este modulo te permite poder hacer registro de una reservacion online <br> puedes registrar tus datos personales, tu acompañantes y <br> seleccionar entre las habitaciones disponibles
        </p>
    </div>
</div>