.navbar {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#titulo {
    color: #00BFA6;
    font-family: 'Balsamiq Sans', cursive;
    padding-left: 10px;
    font-size: xx-large;
}

small {
    color: #00BFA6;
    font-family: 'Balsamiq Sans', cursive;
    font-size: small;
}

#opciones {
    color: white;
    font-family: cursive;
}

button {
    font-family: cursive;
}