<app-nav-bar-emp></app-nav-bar-emp>
<br>
<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">WELCOME TO GNEIS APP WEB</h1>

    </div>
</div>
<div class="row animated fadeIn">
    <div class="col-sm-4">
        <h3>Modulos de Funcionario del hotel De La App Web</h3>
        <img src="assets/img/hotel.png" alt="">
    </div>
    <div class="col-sm-6">
        <ul>
            <li>Gestion de Habitaciones</li>
            <li>Gestion de Reservas</li>
            <li>Gestion de Clientes</li>
            <li>Gestion de Acompañantes</li>
            <li>Gestion de Productos</li>
            <li>Gestion de Reportes</li>
            <li>Gestion de Facturas</li>
        </ul>
    </div>
</div>