.navbar {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#titulo {
    color: #00BFA6;
    font-family: 'Balsamiq Sans', cursive;
    padding-left: 10px;
    font-size: xx-large;
}

small {
    color: #00BFA6;
    font-family: 'Balsamiq Sans', cursive;
    font-size: small;
}

#opciones {
    font-family: 'Balsamiq Sans', cursive;
    color: #00BFA6;
}

#opciones:hover {
    background-color: #75ebdb5b;
}

button {
    color: #00BFA6;
    font-family: cursive;
}

#boton {
    background-color: #00BFA6;
    color: white;
}

#boton:hover {
    background-color: #118d7c;
}

#drop {
    background-color: white;
}