<app-nav-bar></app-nav-bar>
<div class="col col-sm-4 animated fadeIn fast">
    <div class="container">
        <div class="img">
            <img src="assets/img/signin.svg">
        </div>
        <div class="login-content">
            <form action="index.html">

                <h2 id="titulo" class="title">Sign Up</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <input type="text" class="input" placeholder="Username">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <input type="password" class="input" placeholder="Password">
                    </div>
                </div>
                <button type="button" id="login" class="btn btn-light" id="login">Register</button>
                <button type="button" id="singup" class="btn btn-secondary" [routerLink]="['/']">Volver</button>
            </form>
        </div>
    </div>
</div>