<br>
<div class="container col ">
    <div class="card animated fadeIn fast">
        <div class="card-header">
            GESTION DE CLIENTES
        </div>
        <div class="card-body">

            <div class="row">

                <div class="col-sm-5">
                    <h3>Registro De Clientes</h3>
                    <form>
                        <div class="row">

                            <div class="col">
                                <div class="form-group">
                                    <h5 class="card-title"><strong>Cedula</strong></h5>
                                    <input type="number" class="form-control" placeholder="Cedula">
                                </div>
                                <div class="form-group">
                                    <h5 class="card-title"><strong>Primer Nombre</strong></h5>
                                    <input type="text" class="form-control" placeholder="Primer Nombre">
                                </div>
                                <div class="form-group">
                                    <h5 class="card-title"><strong>Segundo Nombre</strong></h5>
                                    <input type="text" class="form-control" placeholder="Segundo Nombre">
                                </div>
                                <div class="form-group">
                                    <h5 class="card-title"><strong>Primer Apellido</strong></h5>
                                    <input type="text" class="form-control" placeholder="Primer Apellido">
                                </div>
                                <div class="form-group">
                                    <h5 class="card-title"><strong>Segundo Apellido</strong></h5>
                                    <input type="text" class="form-control" placeholder="Segundo Apellido">
                                </div>
                                <div class="form-group">
                                    <h5 class="card-title"><strong>Correo</strong></h5>
                                    <input type="text" class="form-control" placeholder="Correo">
                                </div>


                            </div>


                            <div class="col">

                                <div class="form-group">
                                    <h5 class="card-title"><strong>Telefono</strong></h5>
                                    <input type="number" class="form-control" placeholder="Telefono">
                                </div>

                                <div class="form-group">
                                    <h5 class="card-title"><strong>Sexo</strong></h5>
                                    <input type="text" class="form-control" placeholder="Sexo">
                                </div>
                                <div class="form-group">
                                    <h5 class="card-title"><strong>Fecha Nacimiento</strong></h5>
                                    <input type="date" class="form-control" placeholder="Cedula">
                                </div>

                                <div class="form-group">
                                    <h5 class="card-title"><strong>Direccion</strong></h5>
                                    <input type="text" class="form-control" placeholder="Direccion">
                                </div>
                                <div class="form-group">
                                    <h5 class="card-title"><strong>Barrio</strong></h5>
                                    <input type="text" class="form-control" placeholder="Barrio">
                                </div>
                                <div class="form-group">
                                    <h5 class="card-title"><strong>Ciudad</strong></h5>
                                    <input type="number" class="form-control" placeholder="Ciudad">
                                </div>
                            </div>
                        </div>

                        <div class="col" id="btnreg">
                            <ul class="navega">
                                <li>
                                    <a type="button" class="btn btn-outline-light">Registrar</a>
                                </li>
                            </ul>
                        </div>
                        <br>
                    </form>
                </div>

                <div class="col">
                    <img src="assets/img/clientes.png" alt="">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Cedula">
                        </div>

                        <div class="col" id="btnreg">
                            <ul class="navega">
                                <li>
                                    <a type="button" class="btn btn-outline-light">Buscar</a>
                                </li>
                                <li>
                                    <a type="button" class="btn btn-outline-light">Actualizar</a>
                                </li>
                                <li>
                                    <a type="button" class="btn btn-outline-light">Eliminar</a>
                                </li>
                                <li>
                                    <a type="button" class="btn btn-outline-light">Consultar Listado</a>
                                </li>
                            </ul>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container col">
    <div class="card animated fadeIn fast">
        <div class="card-header">
            LISTADO DE CLIENTES
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Cedula</th>
                        <th>Primer Nombre</th>
                        <th>Segundo Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Sexo</th>
                        <th>Fecha Nacimiento</th>
                        <th>Edad</th>
                        <th>Direccion</th>
                        <th>Barrio</th>
                        <th>Ciudad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1192729904</th>
                        <th>sebastian</th>
                        <th>enrique</th>
                        <th>ochoa</th>
                        <th>rangel</th>
                        <th>seochoa@unicesar.edu.co</th>
                        <th>3135360339</th>
                        <th>m</th>
                        <th>10/05/2002</th>
                        <th>18</th>
                        <th>cl 4a #44-20</th>
                        <th>panama</th>
                        <th>Valledupar</th>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>