<nav class="navbar navbar-expand-lg navbar navbar-light">
    <a class="navbar-brand" id="titulo">GNEIS APP WEB 1.4</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a type="button" class="btn btn-outline-light" [routerLink]="['/']" *ngIf="!mostrar" (click)="mostrarbotone()">CERRAR SESION</a>
        </form>
        <form class="form-inline my-2 my-lg-0">
            <a type="button" class="btn btn-outline-light" [routerLink]="['login']" *ngIf="mostrar" (click)="mostrarbotone()">INICIAR SESION</a>
        </form>
    </div>
</nav>