<app-nav-bar-user></app-nav-bar-user>
<br>
<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">WELCOME TO GNEIS APP WEB</h1>

    </div>
</div>
<div class="row animated fadeIn">
    <div class="col-sm-4">
        <h3>Modulos del Cliente De La App Web</h3>
        <img src="assets/img/hotel.png" alt="">
    </div>
    <div class="col-sm-6">
        <ul>
            <li>Consultar Habitaciones</li>
            <li>Realizar Reserva</li>
        </ul>
    </div>
</div>