<app-nav-bar-admin></app-nav-bar-admin>
<div class="row animated fadeIn fast">
    <div class="col">
        <ul>
            <li id="col">
                <div class="img">
                    <img src="assets/img/hotel.svg">
                </div>
            </li>
            <li id="col">
                <div class="container">
                    <h1>GNEIS APP WEB</h1>
                    <p>Modulos del Administrador En el Aplicativo Web</p>
                </div>
            </li>
        </ul>
        <h3>Gestion Usuarios</h3>
        <p>Este modulo te permite poder hacer registro, consulta, modificación y eliminación de los usuarios <br> ya sean clientes, empleados, u otros administradores que ingresen a la aplicación
        </p>
        <h3>Gestion Empleados</h3>
        <p>Este modulo te permite poder hacer registro, consulta, modificación y eliminación de la información <br> de los empleados que trabajan en el hotel
        </p>
    </div>
</div>