<div class="modal-header animated fadeIn">
    <h4 id="titulo" class="modal-title"><strong>Seguro de eliminar a: {{usuarioeliminar.username}}</strong></h4>
</div>
<div class="modal-body animated fadeIn">
    <div class="col col-sm-4 animated fadeIn fast">
        <div class="container">
            <p><strong>ID USUARIO:</strong> {{usuarioeliminar.username}}</p>
            <p><strong>TiPO USUARIO:</strong> {{usuarioeliminar.role}}</p>
            <p><strong>PASSWORD USUARIO:</strong> {{usuarioeliminar.password}}</p>
            <button type="button" id="login" class="btn btn-light" (click)="eliminar()">Eliminar</button>
            <button type="button"  class="btn btn-secondary"  (click)="activeModal.close('Close click')"> Cancelar</button>
        </div>

    </div>
</div>