<app-nav-bar></app-nav-bar>
<div class="col col-sm-4 animated fadeIn fast">
    <div class="container">
        <div class="img">
            <img src="assets/img/avatar.svg">
        </div>
        <div class="login-content">
            <form>

                <h2 id="titulo" class="title">Welcome</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <input type="text" class="input" placeholder="Username">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <input type="password" class="input" placeholder="Password">
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <select class="form-control" id="tipo" name="tipo" [(ngModel)]="tipouser">
                        <option>Admin</option>
                        <option>User</option>
                        <option>Emp</option>
                    </select>
                </div>
                <button type="button" id="login" class="btn btn-light" [routerLink]="[login()]" id="login">Login</button>
                <button type="button" id="singup" class="btn btn-secondary" [routerLink]="['/']">Volver</button>
            </form>
        </div>
    </div>
</div>