.card-header {
    text-align: center;
    color: white;
    font-family: cursive;
    background-color: #9c5518;
}

.card-body {
    font-family: cursive;
    color: white;
    background-color: #da7721d8;
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    display: block;
    margin: auto;
}

ul.navega li {
    display: inline;
    padding-right: 0.5em;
}

.col {
    text-align: center;
}

.row {
    padding-top: 20px;
}