<app-nav-bar-admin></app-nav-bar-admin>
<br>
<div class="container col ">
    <div class="card animated fadeIn fast">
        <div class="card-header">
            GESTION DE USUARIO
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-sm-5">
                    <h3>Registro De Usuario</h3>
                    <form [formGroup]="formGroup">
                        <div class="form-group">
                            <h5 class="card-title "><strong>IDUser</strong></h5>
                            <input autocomplete="off" type="text " name="iduser " class="form-control " placeholder="IDUser " [ngClass]="{'is-invalid':control.iduser.errors && control.iduser.touched}" formControlName="iduser">
                            <div *ngIf="control.iduser.errors"  class="invalid-feedback">
                                <div *ngIf="control.iduser.errors.required">
                                    Se requiere el ID del usuario
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <h5 class="card-title "><strong>TypeUser</strong></h5>
                            <select class="form-control" name="typeuser" id="typeuser" [ngClass]="{'is-invalid':control.typeuser.errors && control.typeuser.touched}" formControlName="typeuser">
                                <option >Admin</option>
                                <option >User</option>
                                <option >Emp</option>
                            </select>
                            <div *ngIf="control.typeuser.errors"  class="invalid-feedback">
                                <div *ngIf="control.typeuser.errors.required">
                                    Se requiere El tipo de usuario
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <h5 class="card-title "><strong>Password</strong></h5>
                            <input autocomplete="off" type="password " class="form-control " name="password " placeholder="Password " [ngClass]="{'is-invalid':control.password.errors && control.password.touched}" formControlName="password">
                            <div *ngIf="control.password.errors"  class="invalid-feedback">
                                <div *ngIf="control.password.errors.required">
                                    Se requiere La Contraseña
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col " id="btnreg ">
                        <ul class="navega ">
                            <li>
                                <button type="button" class="btn btn-outline-light " (click)="onSave() " [disabled]="formGroup.invalid">Registrar</button>
                            </li>
                        </ul>
                    </div>
                    <br>
                </div>

                <div class="col ">
                    <img src="assets/img/login.png " alt=" ">
                    <form>
                        <div class="form-group ">
                            <input autocomplete="off" type="text " class="form-control " name="iduser " placeholder="IDUser " [(ngModel)]="iduser ">
                        </div>

                        <div class="col " id="btnreg ">
                            <ul class="navega ">
                                <li>
                                    <button type="button " class="btn btn-outline-light ">Actualizar</button>
                                </li>
                                <li>
                                    <button type="reset" class="btn btn-outline-light " (click)="eliminar()">Eliminar</button>
                                </li>
                            </ul>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="card-header ">
    LISTADO DE USUARIOS
    <br>
    <br>
    <div class="row">
        <div class="col-sm-10">
            <div class="form-group ">
                <input autocomplete="off" type="text " class="form-control " name="search" placeholder="Search" [(ngModel)]="searchuser">
            </div>
        </div>
        <div class="col-sm-2">
            <a type="button " class="btn btn-outline-light " (click)="consultar()">Consultar Lista</a>
        </div>
    </div>
</div>

<br>
<div class="container ">
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th scope="col ">#</th>
                <th scope="col ">IDuser</th>
                <th scope="col ">Password</th>
                <th scope="col ">TypeUser</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios|filtroUsuario:searchuser; index as i ">
                <th scope="row ">{{i+1}}</th>
                <td>{{usuario.iduser}}</td>
                <td>{{usuario.password}}</td>
                <td>{{usuario.typeuser}}</td>
            </tr>
        </tbody>
    </table>
</div>