<app-nav-bar-admin></app-nav-bar-admin>
<br>
<div class="container col ">
    <div class="card animated fadeIn fast">
        <div class="card-header">
            GESTION DE USUARIO
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-sm-5">
                    <h3>Registro De Usuario</h3>
                    <form>
                        <div class="form-group">
                            <h5 class="card-title"><strong>User</strong></h5>
                            <input type="email" class="form-control" placeholder="User">
                        </div>
                        <div class="form-group">
                            <h5 class="card-title"><strong>Password</strong></h5>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>

                        <div class="col" id="btnreg">
                            <ul class="navega">
                                <li>
                                    <a type="button" class="btn btn-outline-light">Registrar</a>
                                </li>
                            </ul>
                        </div>
                        <br>
                    </form>
                </div>

                <div class="col">
                    <img src="assets/img/login.png" alt="">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="IDUser">
                        </div>

                        <div class="col" id="btnreg">
                            <ul class="navega">
                                <li>
                                    <a type="button" class="btn btn-outline-light">Buscar</a>
                                </li>
                                <li>
                                    <a type="button" class="btn btn-outline-light">Actualizar</a>
                                </li>
                                <li>
                                    <a type="button" class="btn btn-outline-light">Eliminar</a>
                                </li>
                                <li>
                                    <a type="button" class="btn btn-outline-light">Consultar Lista</a>
                                </li>
                            </ul>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container col">
    <div class="card animated fadeIn fast">
        <div class="card-header">
            LISTADO DE USUARIOS
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>User</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>sebas</td>
                        <td>121321</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>juan</td>
                        <td>123232</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>mike</td>
                        <td>24232</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>