.card-header {
    text-align: center;
    color: white;
    font-family: cursive;
    background-color: #9c5518;
}

.card-body {
    font-family: cursive;
    color: white;
    background-color: #da7721d8;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    font-family: cursive;
    margin: auto;
    display: inline-block;
}

.row {
    padding-top: 20px;
}

h3 {
    text-align: center;
}

#btnreg {
    text-align: center;
}

ul.navega li {
    display: inline;
    padding-right: 0.5em;
}

thead {
    background-color: #9c5518;
    color: white;
}

tbody {
    background-color: #c7681583;
    color: black;
}

img {
    padding-bottom: 10px;
    display: block;
    margin: auto;
}