<app-nav-bar-admin></app-nav-bar-admin>

<div class="col col-sm-4 animated fadeIn fast">
    <div class="container">
        <div class="img">
            <img src="assets/img/user.svg">
        </div>
        <div class="login-content">
            <form [formGroup]="formGroup">

                <h2 id="titulo" class="title">Registro De Usuario</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <input autocomplete="off" type="text " name="iduser " class="input" placeholder="IDUser " [ngClass]="{'is-invalid':control.iduser.errors && control.iduser.touched}" formControlName="iduser">
                        <div *ngIf="control.iduser.errors"  class="invalid-feedback">
                            <div *ngIf="control.iduser.errors.required">
                                Se requiere el ID del usuario
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <input autocomplete="off" type="password " class="input" name="password " placeholder="Password " [ngClass]="{'is-invalid':control.password.errors && control.password.touched}" formControlName="password">
                        <div *ngIf="control.password.errors"  class="invalid-feedback">
                            <div *ngIf="control.password.errors.required">
                                Se requiere La Contraseña
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h5 class="card-title "><strong>TypeUser</strong></h5>
                    <select class="form-control" name="typeuser" id="typeuser" [ngClass]="{'is-invalid':control.typeuser.errors && control.typeuser.touched}" formControlName="typeuser">
                                            <option >Administrador</option>
                                            <option >Cliente</option>
                                            <option >Empleado</option>
                                        </select>
                    <div *ngIf="control.typeuser.errors"  class="invalid-feedback">
                        <div *ngIf="control.typeuser.errors.required">
                            Se requiere El tipo de usuario
                        </div>
                    </div>
                </div>
                <button type="button" id="login" class="btn btn-light" (click)="onSave() " [disabled]="formGroup.invalid" id="login">Registrar</button>
            </form>
        </div>
    </div>
</div>