<div class="modal-header animated fadeIn">
    <h4 id="titulo" class="modal-title"><strong>Modificar A: {{usuarioviejo.username}}</strong></h4>
</div>
<div class="modal-body animated fadeIn">
    <div class="col col-sm-4 animated fadeIn fast">
        <div class="container">

            <div class="login-content">
                <form [formGroup]="formGroup">
                    <img src="assets/img/user.svg">
                    <div class="input-div pass">
                        <div class="i">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="div">
                            <input autocomplete="off" type="password " class="input" name="password " placeholder="Password " [ngClass]="{'is-invalid':control.password.errors && control.password.touched}" formControlName="password">
                            <div *ngIf="control.password.errors"  class="invalid-feedback">
                                <div *ngIf="control.password.errors.required">
                                    Se requiere La Contraseña
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h5 class="card-title "><strong>TypeUser</strong></h5>
                        <select class="form-control" name="role" id="role" [ngClass]="{'is-invalid':control.role.errors && control.role.touched}" formControlName="role">
                                                <option >Administrador</option>
                                                <option >Cliente</option>
                                                <option >Empleado</option>
                                            </select>
                        <div *ngIf="control.role.errors"  class="invalid-feedback">
                            <div *ngIf="control.role.errors.required">
                                Se requiere El tipo de usuario
                            </div>
                        </div>
                    </div>
                    <button type="button" id="login" class="btn btn-light" (click)="onUpdate()" [disabled]="formGroup.invalid" id="login">Actualizar</button>
                    <button type="button"  class="btn btn-secondary"  (click)="activeModal.close('Close click')"> Cerrar</button>
                </form>
            </div>
        </div>
    </div>

</div>