<nav class="navbar navbar-expand-lg navbar navbar-light">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="opciones" [routerLink]="['/home2']">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="opciones" [routerLink]="['/habitaciones']">Habitaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="opciones" [routerLink]="['/reservas']">Reservaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="opciones" [routerLink]="['/clientes']">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="opciones" [routerLink]="['/invitados']">Acompañantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="opciones" [routerLink]="['/productos']">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="opciones" [routerLink]="['/reportes']">Reportes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="opciones" [routerLink]="['/facturas']">Facturas</a>
            </li>
        </ul>
    </div>
</nav>