<div class="row animated fadeIn fast">
    <div class="col">
        <ul>
            <li id="col">
                <div class="img">
                    <img src="assets/img/hotel.svg">
                </div>
            </li>
            <li id="col">
                <div class="container">
                    <h1>GNEIS APP WEB</h1>
                    <p>Modulos del Funcionario del Hotel En el Aplicativo Web</p>
                </div>
            </li>
        </ul>
        <h3>Gestion Habitaciones</h3>
        <p>Este modulo te permite poder hacer registro, consulta, modificación y eliminación <br> de las habitaciones que cuenta el hotel

        </p>
        <h3>Gestion Reservaciones</h3>
        <p>Este modulo te permite poder hacer registro, consulta y eliminación de las reservaciones <br> en el hotel en el deberá poder registrar los datos personales del solicitante, <br> las habitaciones, checking, checkout y los acompañantes
        </p>

        <h3>Gestion Clientes</h3>
        <p>Este modulo te permite poder hacer consulta, modificación y eliminación de la información <br> de los clientes que son registrados a la hora de hacer la reserva
        </p>

        <h3>Gestion Invitados</h3>
        <p>Este modulo te permite poder hacer consulta, modificación y eliminación de la información <br> de los Invitados que son registrados a la hora de hacer la reserva
        </p>
        <h3>Gestion Productos</h3>
        <p>Este modulo te permite poder hacer registro, consulta, modificación y eliminación <br> de la información de los productos que maneja el hotel
        </p>
        <h3>Gestion Reportes</h3>
        <p>Este modulo te permite poder hacer consulta y eliminación de la <br> información estadistica sobre los ingresos del Hotel
        </p>
        <h3>Gestion Facturas</h3>
        <p>Este modulo te permite poder hacer registro, consulta y eliminación de las facturas
        </p>
    </div>
</div>